[submodule "bifurcation"]
	path = bifurcation
	url = https://github.com/topological-ragnar/bifurcation
[submodule "swallowtail"]
	path = swallowtail
	url = https://github.com/topological-ragnar/swallowtail
[submodule "hopf-bifurcation"]
	path = hopf-bifurcation
	url = https://github.com/topological-ragnar/hopf-bifurcation
[submodule "blog"]
	path = blog
	url = https://github.com/theory-dust/blog
